/*ESTILOS GENERALES*/

body{
  background: #121316;
  font-family: sans-serif, Arial, Helvetica;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.layout{
  width: 100%;
  height: auto;

  display: grid;
  grid-template-areas:
      "header header header header"
      "nav nav nav nav"
      "content content content lateral"
      "footer footer footer footer"
  ;
  grid-template-rows: 100px 70px auto 70px;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(204, 51, 51); 
}