/*ESTILOS BARRA LATERAL*/

.lateral{
  grid-area: lateral;
  background-image: url('../../img/Polygon\ Luminary.svg');
  border-left: 5px solid #ddd;
  padding: 20px;
}

.text_title_search {
  color: #ddd;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.res_text_search{
  color: #ddd;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.lateral > div{
  box-sizing: border-box;
  width: 90%;
  margin: 20px;
  padding: 20px;
  padding-top: 10px;
  background: #27425E;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #ddd;
}

.filter_search {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Text Paginado */

.pagination_text {
	font-size: 11px; 
	text-transform: uppercase; 
	font-weight: bold;
	color: #ffffff; 
	border-radius: 5px; 
	letter-spacing: 1px; 
	background-color: #40A6FE; 
	padding: 18px 30px; 
	position: fixed;
	bottom: 20px;
	right: 70px;
	z-index: 99;
}

/* Boton Resta */
.pagination_res{
  font-size: 10px; 
	text-transform: uppercase; 
	font-weight: bold;
	color: #ffffff; 
	border-radius: 5px; 
	letter-spacing: 1px; 
	background-color: #1F1A3A; 
	padding: 18px 30px; 
	position: fixed;
	bottom: 88px;
	right: 150px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.pagination_res:hover {
	background-color: #453C68; 
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
} 
 @media only screen and (max-width: 600px) {
 	.pagination_res {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
} 
/* Boton suma */
 .pagination_sum{
  font-size: 10px; 
	text-transform: uppercase;
	font-weight: bold; 
	color: #ffffff; 
	border-radius: 5px; 
	letter-spacing: 1px; 
	background-color: #1F1A3A; 
	padding: 18px 30px;
	position: fixed;
	bottom: 88px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
} 
.pagination_sum:hover {
	background-color: #453C68; 
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
} 
 @media only screen and (max-width: 600px) {
 	.pagination_sum {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
}  

.return_home {
	background-color: #b67b34;
	color: #f6f7f9;
	text-decoration: none;
	border-radius: 30px;
	padding: 4px;
}

.lateral input[type="text"],
.lateral input[type="text"],
.lateral textarea,
.edit_form input[type="text"],
.edit_form input[type="text"],
.edit_form textarea
{
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  padding: 12px;
  border-radius: 5px;
  background: #f6f7f9;
  color: #454545;
  width: 80%;
  opacity: 4;
  outline: 0;
  border-color: transparent;
}

.edit_form{
  border-top: 1px solid #ddd;
  margin-top: 10px;
}