.container {
  display: grid;
  margin: 0 auto;
  /* background-color: #8d8e91; */
  grid-template-columns: 30% 70%;
  align-items: center;
  height: auto;
  width: 100%;
}

.skills {
  font-size: 20px;
  color: #e07c24;
  font-weight: bold;

}

.description {
  font-size: 15px;
  color: #9CD5F2;
  font-weight: bold;
}

.cajaImage {
  width: 300;
  height: 350px;
  margin: 12px;
  border: 4px solid;
  border-radius: 50px;
}

.caja {
  height: 350px;
  border: 4px solid;
  border-radius: 10px;
  background-color: #0A1625;
  margin: 12px;  
}

.caja h1 {
  color: #F1F2F6;
  text-align: center;
}

.caja h2 {
  color: #c6c7ca;
  text-align: center;
}

.tecno {
  text-align: center;
}